# In this Jupiter Notebook we will Create a Data Frame with the Coordinates of Toronto's Neighborhoods, and its Boroughs, and Postal Codes

### Imports the csv with Toronto's Neighborhoods coordinates

In [67]:
Toronto_neib_coord = pd.read_csv('Geospatial_Coordinates.csv')

In [68]:
Toronto_neib_coord

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

### Selects the 5 postal code areas that will be used in the rest of this assessment

In [70]:
a = ['M5G', 'M2H', 'M4B', 'M1J', 'M4G', 'M4M','M1R','M9V','M9L','M5V','M1B','M5A']
len(a)

Toronto_neib_coord_final = Toronto_neib_coord.drop(Toronto_neib.index, axis=0)

for b in a:
    Toronto_neib_coord_final = Toronto_neib_coord_final.append(Toronto_neib_coord.loc[Toronto_neib_coord['Postal Code'] == b], ignore_index=True)

In [71]:
Toronto_neib_coord_final

   Postal Code   Latitude  Longitude
0          M5G  43.657952 -79.387383
1          M2H  43.803762 -79.363452
2          M4B  43.706397 -79.309937
3          M1J  43.744734 -79.239476
4          M4G  43.709060 -79.363452
5          M4M  43.659526 -79.340923
6          M1R  43.750072 -79.295849
7          M9V  43.739416 -79.588437
8          M9L  43.756303 -79.565963
9          M5V  43.628947 -79.394420
10         M1B  43.806686 -79.194353
11         M5A  43.654260 -79.360636

### Gets the csv with the informaton regrading the postal codes, boroughs and neighborhoods of Toronto converts it into a dataframe, and concatenates this dataframe with the one containning the information about the coordinates of Toronto's neighborhoods.

In [73]:
Toronto_neib_final = pd.read_csv('Toronto_neib.csv')

In [74]:
Toronto_neib_df = pd.concat([Toronto_neib_final, Toronto_neib_coord_final], axis=1)

In [75]:
Toronto_neib_df.drop(labels='Unnamed: 0',axis=1,inplace=True)

In [76]:
Toronto_neib_df

,Postal Code,Borough,Neighborhood,Postal Code,Latitude,Longitude
0,M5G,Downtown Toronto,Central Bay Street,M5G,43.657952,-79.387383
1,M2H,North York,Hillcrest Village,M2H,43.803762,-79.363452
2,M4B,East York,"Parkview Hill, Woodbine Gardens",M4B,43.706397,-79.309937
3,M1J,Scarborough,Scarborough Village,M1J,43.744734,-79.239476
4,M4G,East York,Leaside,M4G,43.709060,-79.363452
5,M4M,East Toronto,Studio District,M4M,43.659526,-79.340923
6,M1R,Scarborough,"Wexford, Maryvale",M1R,43.750072,-79.295849
7,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest...",M9V,43.739416,-79.588437
8,M9L,North York,Humber Summit,M9L,43.756303,-79.565963
9,M5V,Downtown Toronto,"CN Tower, King and Spadina, Railway Lands, Har...",M5V,43.628947,-79.394420
10,M1B,Scarborough,"Malvern, Rouge",M1B,43.806686,-79.194353
11,M5A,Downtown Toronto,"Regent Park, Harbourfront",M5A,43.654260,-79.360636

In [77]:
Toronto_neib_df.to_csv('Toronto_df.csv',index=False)